$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.entryView, #mainView {
  height: 100%;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    // font-family: 'Audiowide', Helvetica Neue;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    // padding-top: 20px;
    // padding-bottom: 20px;
    background-color: hsl(218, 53%, 55%);
    // background-image:url('/images/gplaypattern.png')
    // padding: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//     .container {
//         // max-width: 730px;
//     }

//     /* Remove the padding we set earlier */
//     .header,
//     .marketing,
//     .footer {
//         padding-left: 0;
//         padding-right: 0;
//     }
//     /* Space out the masthead */
//     .header {
//         margin-bottom: 30px;
//     }
//     /* Remove the bottom border on the jumbotron for visual effect */
//     .jumbotron {
//         border-bottom: 0;
//     }
// }

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#main-header {
  text-align: center;
  padding-top: 100px;

  span {
    display: block;
    white-space: nowrap;

    &:first-child {
      margin: 0;
      font-weight: 800;
      font-size: 4em;
      letter-spacing: 8px;
      color: rgba(66, 109, 122, 0.47);
    }

    &:last-child {
      position: relative;
      margin-top: 0.5em;
      padding: 0.8em;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1em;

      &::before {
        position: absolute;
        top: 0;
        left: 25%;
        width: 50%;
        height: 2px;
        background: #fff;
        content: '';
      }
    }
  }
}

#onlineUserGroup {
  p {
    text-align: center;
    padding-top: 100px;
    white-space: nowrap;

    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: 2px;
    color: rgba(83, 124, 92, 0.47);
  }
}


#top-nav-status {
  text-align: center;
  text-transform: uppercase;

  position: absolute;
  z-index: 101;
  margin: 0 auto;

  width: 30%;
  left: 35%;
  top: 10px;
}

#gameDirections {
  ul {
    list-style: none;
  }
}

#onlinePeersList {
  // overflow: scroll;
}

.white-border {
    border: 2px solid white;
}

#step1 {
  text-align: center;
  p {
    width: 50%;
    left: 25%;
    position: relative;
  }
}

#step1-error, #step2, #step3 {
  display: none;
}
#my-id {
  font-weight: bold;
}

.video-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;

  &::before{
    position: absolute;
    top: -25px;
    left: 35%;
    width: 30%;
    height: 2px;
    background: #fff;
    content: '';
  }

  video {
    width: 96%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }

  canvas {
    width: 96%;
    // height: 50%; // need to fix this
  }

}


video {
  background-color: #eee;
  border-color: #bada55;
}

#upcoming, #their-upcoming {
  width: 100%;
  // height: 100%;
  position: absolute;
  top: 0;
  left: 2.5%;
}

#my-overlay, #their-overlay {
  position: absolute;
  top: 0px;
  left: 2%;
  z-index: 100001;
  display: block;
  margin: 0 auto;
}

#my-gamecanvas, #their-gamecanvas {
  position: absolute;
  top: 0;
  left: 27%;
  z-index: 100001;
  display: block;
  margin: 0 auto;
}

.no-pad {
    margin:0;
    padding:0;
}

#debug {
  position: absolute;
  top: 0px;
  z-index: 100002;
  display: none;
}

#score, #their-score {
    font-size: 1.5em;
}

#rows, #their-rows {
    font-size: 1.5em;
}

.bottom-left {
  z-index: 500;
  position: absolute;
  bottom: 0px;
  width: 100px;
}

.bottom-right {
  z-index: 500;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100px;
}

.alert {
  text-align: center;
  font-weight: 600;
}

.gameheader {

  h2 {
    font-size: 1.8em;
    font-weight: 400;
    text-transform: uppercase;
  }

}

$transparent-text-color: rgba(0,0,0,0.4);

.simform {
  position: relative;
  margin: 0 auto;
  padding: 2em 0;
  max-width: 860px;
  width: 80%;
  text-align: center;
  font-size: 2em;
  color: $transparent-text-color;

  .simform-inner {
    position: relative;
  }

  .beforeInput {
    position: relative;

     &:before {
      content: '';
      background-color: rgba(0,0,0,0.1);
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      // height: 2.35em;
      z-index: -1;
    }
  }

  .inputLeft {
    display: block;
    padding: 0.5em 1em 0.5em 0.7em;
    border: none;
    background: transparent;
    font-size: 0.8em;
    line-height: 1;
    width: calc(100% - 2em);
    /* opacity: 0; */
    /* -webkit-transition: opacity 0.3s; */
    /* transition: opacity 0.3s; */

    &:focus {
      outline: none;
    }
  }

  button {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    padding: 0;
    width: 2em;
    height: 2em;
    border: none;
    background: none;
    color: $transparent-text-color;
    text-align: center;

    z-index: 100;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;

    &:hover {
      color: rgba(0,0,0,0.7);
    }
  }

  .control {
    height: 0.1em;
    background: rgba(0,0,0,0.2);
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

}

$left-side-color: #47a3da;
$right-side-color: #fd6a62;
$mid-nav-color: #2dcb89;

.navplayer {
  button {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin: 0 0.1em;
    border: 3px solid #fff;

    &:hover:before {
      content: attr(data-info);
      color: #fff;
      position: absolute;
      width: 600%;
      top: 120%;
      text-align: right;
      right: 0;
      pointer-events: none;
    }

  }

  span {
    display: none;
  }

  .bp-icon:after {
    font-family: FontAwesome;

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 2;
    text-indent: 0;
  }

}

#musicPlayer {
  position: absolute;
  top: 15px;
  left: 8.5%;

  button {
    // background: $right-side-color;
    background: inherit;

    &:hover {
      background: #fff;
    }

    &:hover:after {
      // color: $right-side-color;
      color: $left-side-color;
    }
  }

  .bp-icon-play:after {
    content: "\f04b";
  }
  .bp-icon-pause:after {
    content: "\f04c";
  }
  .bp-icon-stop:after {
    content: "\f04d";
  }
}

#callPlayer {
  position: absolute;
  top: 15px;
  right: 8.5%;

  button {
    // background: $mid-nav-color;
    background: inherit;

    &:hover {
      background: #fff;
    }

    &:hover:after {
      // color: $mid-nav-color;
      color: $right-side-color;
    }
  }

  .bp-icon-home:after {
    content: "\f015";
  }

  .bp-icon-endcall:after {
    content: "\f011";
  }

  .bp-icon-startgame:after {
    content: "\f144";
  }

  .bp-icon-callrandom:after {
    content: "\f0c0";
  }
}

#top-nav {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: rgba(74, 17, 174, 0.5);
  z-index: 101;
}

/* Animated Checkbox */
@import '/styles/component.css';

/* Animated Border */
@import '/styles/animatedborder-style3.css';

/* Page Transitions */
@import '/styles/transition-animation.css';
@import '/styles/single-page-transition.css';

/* Split Layout */
@import '/styles/splitlayout.css';

/* Animated Navigation Links */
@import '/styles/animatednav-style.css';

/* Animated Button */
/** Start Game button **/
@import '/styles/animatedbuttons.css';