<div id="mainView" class="pt-wrapper">
    <!--All Pages-->
    <div class="pt-page pt-page-1">

        <div id="main-header">
          <span>WEBTRIS</span>
          <span>Two-Player <em>Roulette Tetris</em> with Web RTC</span>
        </div>

        <!-- Get local audio/video stream -->
        <div id="step1" ng-show="!streamReady">
          <p class="white-border"><i class="fa fa-exclamation-circle"></i> Please click <strong>Allow</strong> on the top of the screen so we can access your webcam and microphone for calls.
          Note that once you click <strong>Allow</strong>, anyone can challenge you at any time...until you close the window or refresh the browser!</p>
        </div>

        <div ng-show="streamReady">
          <form id="theForm" class="simform" autocomplete="off">
            <div class="simform-inner" ng-show="!connected">

              <span>What peer ID do you want to connect to?</span>
              <div class="beforeInput">
                <input class="inputLeft" id="q1" name="q1" type="text" ng-model="remotePeerId"/>
              </div>

              <div class="control">
                <button ng-click="callRequestedPeer()" type="button"><i class="fa fa-phone"></i></button>
              </div>

            </div><!-- /simform-inner -->
            <div class="simform-inner" ng-show="connected">
              <span>Currently in a call with</span>
              <div class="beforeInput">
                <input class="inputLeft" ng-model="remotePeerId" disabled/>
              </div>

              <div class="control">
                <button ng-click="endCall()" type="button"><i class="fa fa-power-off"></i></button>
              </div>
            </div>
          </form><!-- /simform -->

          <p class="peer-id-box" ng-show="my_id">
            <strong>Your Peer ID: {{my_id}}</strong>
          </p>
          <p class="peer-id-box" ng-show="connected && !peerError">
            <strong>Rival Peer ID: {{remotePeerId}}</strong>
          </p>
        </div>


        <span id="main-badge" class="badge" ng-show="my_id && !connected">Online Users: {{onlineUsers}}</span>
        <ul id="homeNavigator">
          <li ng-show="!connected && my_id"><button class="special-btn btn-1 btn-1f" ng-click="callRandomPeer()"><i class="fa fa-users"></i> Call Random</button></li>
          <li><button class="special-btn btn-1 btn-1f pt-trigger" data-animation="60" data-goto="2"><i class="fa fa-video-camera" id="moveToGame"></i> Game Room</button></li>
        </ul>

        <div ng-show="peerError" class="custom-alert white-border"><i class="fa fa-exclamation-circle"></i> {{peerError}}</div>
        <div class="custom-alert white-border" ng-show="connected && otherWaiting && !waiting && !countDown">
          <i class="fa fa-exclamation-circle"></i>
          <strong>Hey you, click the Start Game button. They're waiting for you!</strong>
        </div>
<!--           <div class="col-md-6">
            <div ng-show="musicEnabled">
              <form class="ac-custom ac-checkbox ac-checkmark">
                <ul>
                  <li><input type="checkbox" ng-model="allowMusic" id="cb1" name="cb1"><label for="cb1">Play music on start</label></li>
                </ul>
              </form>
            </div>
          </div> -->

    <nav class="nav-fillpath">
      <a class="prev pt-trigger" data-animation="59" data-goto="4">
        <span class="icon-wrap"></span>
        <h3><strong>Game</strong> Instructions</h3>
      </a>
      <a class="next pt-trigger" data-animation="58" data-goto="3">
        <span class="icon-wrap"></span>
        <h3><strong>Online</strong> Users</h3>
      </a>
    </nav>

    </div>


    <div class="pt-page pt-page-2">
        <div id="top-nav">

          <div id="top-nav-status">
            <span class="badge" ng-show="my_id && !connected">Online Users: {{onlineUsers}}</span>
            <span class="badge" ng-show="my_id && connected">Connected</span>
            <span class="badge" ng-show="!my_id">No Media Ready</span>
          </div>

          <nav id="callPlayer" class="navplayer">
            <button class="bp-icon bp-icon-callrandom" data-info="Call random peer [{{onlineUsers}}]" ng-click="callRandomPeer()" ng-show="!connected && my_id"><span>Call random peer</span></button>
            <button class="bp-icon bp-icon-endcall" data-info="End call" ng-click="endCall()" ng-show="connected"><span>End Call</span></button>
            <button class="bp-icon bp-icon-home pt-trigger" data-info="Go home" data-animation="61" data-goto="1"><span>Go Home</span></button>
          </nav>

          <nav id="musicPlayer" class="navplayer" ng-show="musicEnabled">
            <button class="bp-icon bp-icon-play" data-info="Play music" ng-click="playMusic()"><span>Play music</span></button>
            <button class="bp-icon bp-icon-pause" data-info="Pause music" ng-click="pauseMusic()"><span>Pause music</span></button>
            <button class="bp-icon bp-icon-stop" data-info="Stop music" ng-click="stopMusic()"><span>Stop music</span></button>
          </nav>
        </div>

        <div class="side side-left">
          <div class="gameheader">
            <h2>Hometown Hero</h2>
            <p class="peer-id-box" ng-show="my_id">
              <strong>Your Peer ID: {{my_id}}</strong>
            </p>
          </div>
          <div class="video-container">
            <canvas id="my-video-canvas"style="display:none"></canvas>
            <video id="my-video" ng-src="{{videoURL}}" autoplay loop></video>
            <canvas id="my-overlay"></canvas>
            <canvas id="my-gamecanvas"></canvas>
            <canvas id="upcoming"></canvas>
            <div id="menu">
              <p>SCORE <span id="score">00000</span></p>
              <p>CLEARED ROWS <span id="cleared-rows">0</span></p>
            </div>
          </div>

          <button class="special-btn btn-1 btn-1f" ng-click="play(true)" ng-show="!gameStart && connected && !playing"><i class="fa fa-play-circle"></i> Start Game</button>

          <div class="alert alert-info" ng-show="connected && !playing && !gameCount && !waiting && !otherWaiting">
            <strong>Twiddling your thumbs eh?</strong>
          </div>
          <div class="alert alert-info" ng-show="connected && playing">
            <strong>Who's it gonna be?!</strong>
          </div>
          <div class="alert alert-success" ng-show="gameWon && !playing && gameCount">
            <strong>You win!</strong>
          </div>
          <div class="alert alert-danger" ng-show="!gameWon && !playing && gameCount">
            <strong>You lose!</strong>
          </div>
          <div class="alert alert-info" ng-show="connected && waiting && !otherWaiting &&!countDown">
            <i class="fa fa-cog fa-spin"></i> Waiting for opponent...
          </div>
          <div class="alert alert-warning" ng-show="connected && otherWaiting && !waiting && !countDown">
            <strong>Hey you, click the Start Game button. They're waiting for you!</strong>
          </div>
          <div class="alert alert-info" ng-show="connected && countDown">
            <strong>Starting in {{countDown}}</strong>
          </div>
          <div class="alert alert-warning" ng-show="!connected">
            <strong>Connected...with NOONE!</strong>
          </div>
          <div class="alert alert-danger" ng-show="peerError">
            <strong>{{peerError}}</strong>
          </div>

        </div>

      <div class="side side-right">
        <div class="gameheader">
          <h2>Rude Rival</h2>
          <p class="peer-id-box" ng-show="connected && !peerError">
            <strong>Rival Peer ID: {{remotePeerId}}</strong>
          </p>
        </div>
        <div class="video-container">
          <canvas id="their-video-canvas"style="display:none"></canvas>
          <video id="their-video" ng-src="{{peerURL}}" autoplay></video>
          <canvas id="their-overlay"></canvas>
          <canvas id="their-gamecanvas"></canvas>
          <canvas id="their-upcoming"></canvas>
          <div id="menu">
            <p>SCORE <span id="their-score">00000</span></p>
            <p>CLEARED ROWS <span id="their-cleared-rows">0</span></p>
          </div>
        </div>

      </div>


    </div>

    <div class="pt-page pt-page-3">

        <div id="user-page-hide" ng-show="connected">
          <p>You're already connected with someone. Need help getting there?</p>
          <button class="special-btn btn-1 btn-1f pt-trigger" data-animation="60" data-goto="2"><i class="fa fa-video-camera"></i> Game Room</button>
        </div>

        <div id="onlineUserGroup" ng-show="!connected">
          <button class="special-btn btn-1 btn-1f pt-trigger" data-animation="60" data-goto="2"><i class="fa fa-video-camera"></i> Game Room</button>
          <p>Online Users: {{onlineUsers}}</p>
          <ul ng-show="!connected && my_id && peerIDs.length > 1" id="onlinePeersList" class="list-group">
            <li ng-repeat="peerID in peerIDs" ng-if="my_id!=peerID">
              <div class="simform">
                <div class="simform-inner">
                  <div class="beforeInput">
                    <input class="inputLeft" ng-model="peerID" disabled/>
                  </div>

                  <div class="control">
                    <button ng-click="callPeerHelper(peerID)" type="button"><i class="fa fa-phone"></i></button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <nav class="nav-fillpath">
          <a class="prev pt-trigger" data-animation="59" data-goto="1">
            <span class="icon-wrap"></span>
            <h3><strong>Go</strong> Home</h3>
          </a>
          <a class="next pt-trigger" data-animation="58" data-goto="4">
            <span class="icon-wrap"></span>
            <h3><strong>Game</strong> Instructions</h3>
          </a>
        </nav>
    </div>

    <div class="pt-page pt-page-4">
      <!-- Dashboard keyboard and music -->
      <div id="gameInstructions">
        <span><i class="fa fa-keyboard-o"></i> Keyboard Controls</span>

        <ul class="list-group">
          <li class="list-group-item list-group-item-info"><i class="fa fa-arrow-circle-up"></i> UP: Rotates the tetronome</li>
          <li class="list-group-item list-group-item-info"><i class="fa fa-arrow-circle-down"></i> DOWN: Moves the tetronome down</li>
          <li class="list-group-item list-group-item-info"><i class="fa fa-arrow-circle-left"></i> LEFT: Moves the tetronome left</li>
          <li class="list-group-item list-group-item-info"><i class="fa fa-arrow-circle-right"></i> RIGHT: Moves the tetronome right</li>
          <li class="list-group-item list-group-item-info"><i class="fa fa-square-o"></i> SPACEBAR: Drops the tetronome</li>
        </ul>
      </div>

      <button id="keyboardButton" class="special-btn btn-1 btn-1f pt-trigger" data-animation="60" data-goto="2"><i class="fa fa-video-camera"></i> Game Room</button>

      <nav class="nav-fillpath">
        <a class="prev pt-trigger" data-animation="59" data-goto="3">
            <span class="icon-wrap"></span>
            <h3><strong>Online</strong> Users</h3>
        </a>
        <a class="next pt-trigger" data-animation="58" data-goto="1">
            <span class="icon-wrap"></span>
            <h3><strong>Go</strong> Home</h3>
        </a>
      </nav>
    </div>

</div>

<div class="pt-message">
    <p>Your browser does not support CSS animations.</p>
</div>


<nav id="bt-menu" class="bt-menu">
  <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
  <ul>

      <li><a ng-href="http://eddieng.org" class="bt-icon icon-user-outline">About</a></li>
      <li><a ng-href="https://github.com/wardsng" class="bt-icon icon-sun"><i class="fa fa-github"></i>Github</a></li>
<!--         <li><a href="#" class="bt-icon icon-windows">Work</a></li> -->
<!--         <li><a href="#" class="bt-icon icon-star">Clients</a></li>
      <li><a href="#" class="bt-icon icon-bubble">Contact</a></li> -->
  </ul>
</nav>

<!-- build:js({.tmp,app}) scripts/tetris.js -->

<script src="scripts/vendor/classie.js"></script>
<script src="scripts/vendor/borderMenu.js"></script>

<script src="scripts/vendor/jquery-1.9.1.min.js"></script>
<script src="scripts/vendor/transition.js"></script>

<script src="scripts/tetris.js"></script>
<!-- endbuild -->

<!--   <script type='text/javascript-lazy' src="scripts/vendor/stats.js"></script>
  <script type='text/javascript-lazy' src="scripts/tetris.js"></script>

  <script type='text/javascript-lazy' src="scripts/vendor/classie.js"></script>
  <script type='text/javascript-lazy' src="scripts/vendor/borderMenu.js"></script>

  <script type='text/javascript-lazy' src="scripts/vendor/jquery-1.9.1.min.js"></script>
  <script type='text/javascript-lazy' src="scripts/vendor/transition.js"></script> -->

