<!-- <div ng-include="'partials/navbar'"></div> -->
<div id="mainView" class="pt-wrapper">
    <!--All Pages-->
    <div class="pt-page pt-page-1">

        <div id="main-header">
          <span>WEBTRIS</span>
          <span>Two-Player Roulette Tetris with Web RTC</span>
        </div>

        <!-- Get local audio/video stream -->
        <div id="step1" ng-show="!streamReady">
          <p class="white-border">Please click <strong>Allow</strong> on the top of the screen so we can access your webcam and microphone for calls.</p>
        </div>

        <div class="container">
          <div class="row">

            <div class="col-md-6" ng-show="my_id">
              <p class="white-border">
                <strong>Your Peer ID: {{my_id}}</strong>
              </p>
            </div>

            <div class="col-md-6">
              <p class="white-border" ng-show="connected && !peerError">
                <strong>Opponent's Peer ID: {{remotePeerId}}</strong>
              </p>
              <div ng-show="peerError" class="alert alert-danger">{{peerError}}</div>
            </div>

          </div>
          <br>

          <div class="row">

            <div class="col-md-6" ng-show="my_id">
              <div class="input-group" ng-show="!connected">
                <span class="input-group-addon">#</span>
                <input type="text" class="form-control" ng-model="remotePeerId" type="text" placeholder="Enter remote peer id!">

                <span class="input-group-btn">
                  <button class="btn btn-primary" ng-click="callPeer()" type="button"><i class="fa fa-phone"></i> Call Peer</button>
                </span>
              </div>

                <!-- Call in progress -->
              <div class="input-group" ng-show="connected">
                <span class="input-group-addon">#</span>
                <input type="text" class="form-control" type="text" placeholder="Currently in call with {{remotePeerId}}" disabled>

                <span class="input-group-btn">
                  <button class="btn btn-danger" ng-click="endCall()" type="button"><i class="fa fa-power-off"></i> End Call</button>
                </span>
              </div>
            </div>

            <div class="col-md-6" ng-show="!connected && my_id">
              <button class="btn btn-primary" ng-click="callRandomPeer()" type="button"><i class="fa fa-users"></i> Find random peer</button>

              <span class="badge" ng-show="my_id">Online Users: {{onlineUsers}}</span>
<!--               <button ng-show="!connected && my_id && peerIDs.length > 1" class="pt-trigger btn btn-success" id="moveToUsers" data-animation="60" data-goto="3">User List</button> -->

            </div>

          </div>

        </div>


      <!-- Dashboard keyboard and music -->
      <div class="container">
        <div class="row">
          <div id="gameDirections" class="col-md-6">

            <h5><i class="fa fa-keyboard-o"></i> Keyboard Controls</h5>
            <ul class="list-group">
              <li class="list-group-item"><i class="fa fa-arrow-circle-up"></i> UP: Rotates the tetronome</li>
              <li class="list-group-item"><i class="fa fa-arrow-circle-down"></i> DOWN: Moves the tetronome down</li>
              <li class="list-group-item"><i class="fa fa-arrow-circle-left"></i> LEFT: Moves the tetronome left</li>
              <li class="list-group-item"><i class="fa fa-arrow-circle-right"></i> RIGHT: Moves the tetronome right</li>
              <li class="list-group-item"><i class="fa fa-square-o"></i> SPACEBAR: Drops the tetronome</li>
            </ul>
          </div>
          <div class="col-md-6">
            <div ng-show="musicEnabled">
              <form class="ac-custom ac-checkbox ac-checkmark">
                <ul>
                  <li><input type="checkbox" ng-model="allowMusic" id="cb1" name="cb1"><label for="cb1">Play music on start</label></li>
                </ul>
              </form>

              MUSIC:
              <button class="btn btn-default" ng-click="playMusic()"><i class="fa fa-play"></i> PLAY</button>
              <button class="btn btn-default" ng-click="pauseMusic()"><i class="fa fa-pause"></i> PAUSE</button>
              <button class="btn btn-default" ng-click="stopMusic()"><i class="fa fa-stop"></i> STOP</button>
            </div>
          </div>

        </div>

      </div>

    <button class="pt-trigger bottom-left btn btn-success" id="moveToGame" data-animation="60" data-goto="2">Game</button>

    <nav class="nav-fillpath" ng-show="!connected">
<!--       <a class="prev" href="/item1">
        <span class="icon-wrap"></span>
        <h3><strong>Game</strong></h3>
      </a> -->
<!--       <a class="next pt-trigger" id="moveToGame" data-animation="60" data-goto="2">
        <span class="icon-wrap"></span>
        <h3><strong>Play</strong> Game</h3>
      </a> -->
      <a class="prev pt-trigger" data-animation="59" data-goto="3">
        <span class="icon-wrap"></span>
        <h3><strong>Online</strong> Users</h3>
      </a>
      <a class="next pt-trigger" data-animation="58" data-goto="3">
        <span class="icon-wrap"></span>
        <h3><strong>Online</strong> Users</h3>
      </a>

    </nav>

    </div>


    <div class="pt-page pt-page-2">

        <div id="gamestatus" ng-show="connected">

          <div ng-show="connected && !playing">
            <button class="btn btn-success" ng-click="play(true)" ng-show="gameStartCount==0 && connected"><i class="fa fa-play-circle-o"></i> Start Game</button>
          </div>
          <div ng-show="connected && waiting">
            <p ng-show="countDown">Starting in {{countDown}}</p>
            <p ng-show="!countDown"><i class="fa fa-cog fa-spin"></i> Waiting for opponent...</p>
          </div>

            <div class="alert alert-info" ng-show="!playing && !gameCount">
              <strong>Twiddling your thumbs eh?</strong>
            </div>
            <div class="alert alert-info" ng-show="playing">
              <strong>Who's it gonna be?!</strong>
            </div>
            <div class="alert alert-success" ng-show="gameWon && !playing && gameCount">
              <strong>You win!</strong>
            </div>
            <div class="alert alert-danger" ng-show="!gameWon && !playing && gameCount">
              <strong>You lose!</strong>
            </div>
        </div>

        <button class="pt-trigger bottom-left btn btn-success" id="moveToHome" data-animation="61" data-goto="1">Home</button>

        <div class="side side-left">
          <div class="gameheader">
            <h2>Hometown Hero</h2>
          </div>
          <div class="video-container">
              <canvas id="my-video-canvas"style="display:none"></canvas>
              <video id="my-video" ng-src="{{videoURL}}" autoplay loop></video>
              <canvas id="my-overlay"></canvas>
              <canvas id="my-gamecanvas"></canvas>

          <div id="menu">
            <p><canvas id="upcoming"></canvas></p>
            <p>SCORE <span id="score">00000</span></p>
            <p>CLEARED ROWS <span id="cleared-rows">0</span></p>
          </div>

          </div>

        </div>

          <div class="side side-right">
            <div class="gameheader">
              <h2>Rude Rival</h2>
            </div>
            <div class="video-container">
                <canvas id="their-video-canvas"style="display:none"></canvas>
                <video id="their-video" ng-src="{{peerURL}}" autoplay></video>
                <canvas id="their-overlay"></canvas>
                <canvas id="their-gamecanvas"></canvas>

              <div id="menu">
                <p><canvas id="their-upcoming"></canvas></p>
                <p>SCORE <span id="their-score">00000</span></p>
                <p>CLEARED ROWS <span id="their-cleared-rows">0</span></p>
              </div>
            </div>

          </div>


    </div>

    <div class="pt-page pt-page-3">
        <div id="onlineUserGroup">
          <p>Online Users: {{onlineUsers}}</p>
          <ul ng-show="!connected && my_id && peerIDs.length > 1" id="onlinePeersList" class="list-group">
            <li class="list-group-item" ng-repeat="peerID in peerIDs" ng-if="my_id!=peerID">
              <div class="row">
                <div class="col-xs-8">Peer ID: {{peerID}}</div>
                <div class="col-xs-4"><button class="btn btn-primary" ng-click="callPeerHelper(peerID)" type="button"><i class="fa fa-phone"></i> Call Peer</button></div>
              </div>
            </li>
          </ul>
        </div>


        <nav class="nav-fillpath">
          <a class="prev pt-trigger" data-animation="59" data-goto="1">
            <span class="icon-wrap"></span>
            <h3><strong>Go</strong> Home</h3>
          </a>
          <a class="next pt-trigger" data-animation="58" data-goto="1">
            <span class="icon-wrap"></span>
            <h3><strong>Go</strong> Home</h3>
          </a>
        </nav>
    </div>

</div>

<div class="pt-message">
    <p>Your browser does not support CSS animations.</p>
</div>

<!-- <canvas id="debug" width="640" height="480"></canvas> -->


  <nav id="bt-menu" class="bt-menu">
    <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
    <ul>


        <li><a ng-href="http://eddieng.org" class="bt-icon icon-user-outline">About</a></li>
        <li><a ng-href="https://github.com/wardsng" class="bt-icon icon-sun"><i class="fa fa-github"></i>Github</a></li>
<!--         <li><a href="#" class="bt-icon icon-windows">Work</a></li> -->
<!--         <li><a href="#" class="bt-icon icon-star">Clients</a></li>
        <li><a href="#" class="bt-icon icon-bubble">Contact</a></li> -->
    </ul>
  </nav>


<!-- <img id="image" src="/images/github.png"> -->
<script type='text/javascript-lazy'>
  function drawRectangle(canvasInput, overlayContext, event) {
    overlayContext.clearRect(0,0,canvasInput.width, canvasInput.height);
    // once we have stable tracking, draw rectangle
    if (event.detection == "CS") {
      overlayContext.translate(event.x, event.y)
      overlayContext.rotate(event.angle-(Math.PI/2));
      overlayContext.strokeStyle = event.style || "#BADA55";
      overlayContext.strokeRect((-(event.width/2)) >> 0, (-(event.height/2)) >> 0, event.width, event.height/1.2);
      overlayContext.rotate((Math.PI/2)-event.angle);
      overlayContext.translate(-event.x, -event.y);
    }
  }
</script>

<!-- build:js({.tmp,app}) scripts/tetris.js -->
<script type='text/javascript-lazy' src="scripts/vendor/stats.js"></script>
<script type='text/javascript-lazy' src="scripts/tetris.js"></script>
<script type='text/javascript-lazy' src="scripts/vendor/svgcheckbx.js"></script>
<script type='text/javascript-lazy' src="scripts/vendor/classie.js"></script>
<script type='text/javascript-lazy' src="scripts/vendor/borderMenu.js"></script>

<scrupt type='text/javascript-lazy' src="scripts/vendor/jquery-1.9.1.min.js"></scrupt>
<script type='text/javascript-lazy' src="scripts/vendor/transition.js"></script>
<!-- endbuild -->




